html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  color: rgb(255, 110, 0);
}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/*buttons*/

/* ---- section ---- */

#game-container {
  width:70vw; /*wie kann ich es ohne width schaffen dass unterer description die gleiche größe hat*/
  margin-top: 10vh;
  height: 70vh;
  
}

body {display: flex;
justify-content: center;
background-image: url("img/y3EDfQ.jpg");
background-size: 100%;
background-repeat: repeat; /*wie mache ich es dass es sich an Bildschirmgröße anpasst?*/
align-items: center;
}


#splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 10px solid rgb(255, 110, 0);
  margin-top: 15vh;
  color: rgb(255, 110, 0);;
}

h1 {
  text-align: center;
  font-size: 40px; 

}

.starttext{
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;
}


.flex-button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-img {
  display: flex;
  flex-direction: column;

}

.start-button{
  font-size: 20px;
  border: 2px solid white);
  background-color:  rgb(255, 110, 0);
  margin-top: 23px;
  color: white;
  width: 14vh;
}

.dory { 
  font-size: 20px;
  margin-top: 20px;
  border: 2px solid white;
  background-color: rgb(255, 110, 0);
  color: white;
  width: 14vh;
}

#gameOverScreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 10px solid rgb(255, 110, 0);
  margin-top: 15vh;
  background-color: white;
  width: 80vh;
  height: 70vh;
}

#gameWonScreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 10px solid rgb(255, 110, 0);
  margin-top: 15vh;
  background-color: white;
  width: 80vh;
  height: 70vh;
}

.restart-button, .newCharacter{
  font-size: 20px;
  border: 2px solid white;
  background-color: rgb(255, 110, 0);
  color: white;
  width: 20vh;
  border-radius: 30px;
  height: 70px;
  width: 200px;
  align-self: center;
}

canvas{
  background-image: url("img/y3EDfQ.jpg");
  background-size: 120%;
  border: 10px solid rgb(255, 110, 0);
  width: 70vw;
}

.gameDescription{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border: 10px solid rgb(255, 110, 0);
  align-items: center;
}

img#keyboard{
  margin: 0 30px;
}



#textDescription{
  padding-left: 30px;
  padding-right: 50px;
  font-size: 18px;
  color: rgb(255, 110, 0);
}

.score {
  padding-left: 15px;
}

.sharkflex{
  display:flex;
  justify-content: center;
}

.scorelevel {
  color: rgb(255, 110, 0);
}

