html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  color: rgb(91, 204, 245);
}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/*buttons*/

/* ---- section ---- */

.bla{
  width:70vw;
}


#game-container {
  margin-top: 10vh;
  height: 70vh; 
  border-top: 15px solid rgb(91, 204, 245);
  border-left: 15px solid rgb(91, 204, 245);
  border-right: 15px solid rgb(91, 204, 245);
  overflow: hidden;
}

body {display: flex;
justify-content: center;
background-image: url("img/y3EDfQ.jpg");
background-size: auto auto;
align-items: center;
}


#splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 15px solid rgb(91, 204, 245);
  margin-top: 15vh;
  color: rgb(91, 204, 245);
}

h1 {
  text-align: center;
  font-size: 40px; 
  animation-name: h1Animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.starttext{
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;
}


.flex-button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-img {
  display: flex;
  flex-direction: column;
}

.start-button{
  font-size: 20px;
  border: 2px solid white;
  background-color:  rgb(91, 204, 245);
  margin-top: 23px;
  color: white;
  width: 14vh;
}

.dory { 
  font-size: 20px;
  margin-top: 20px;
  border: 2px solid white;
  background-color: rgb(91, 204, 245);
  color: white;
  width: 14vh;
}

#gameOverScreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 15px solid rgb(91, 204, 245);
  margin-top: 15vh;
  background-color: white;
  width: 80vh;
  height: 70vh;
}

#gameWonScreen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 15px solid rgb(91, 204, 245);
  margin-top: 15vh;
  background-color: white;
  width: 80vh;
  height: 70vh;
}

.restart-button, .newCharacter{
  font-size: 20px;
  border: 2px solid white;
  background-color: rgb(91, 204, 245);
  color: white;
  width: 20vh;
  border-radius: 30px;
  height: 70px;
  width: 200px;
  align-self: center;
}


.gameDescription{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border: 15px solid rgb(91, 204, 245);
  align-items: center;
}

img#keyboard{
  margin: 0 30px;
}



#textDescription{
  padding-left: 30px;
  padding-right: 50px;
  font-size: 18px;
  color: rgb(91, 204, 245);
}

.score {
  padding-left: 15px;
}

.sharkflex{
  display:flex;
  justify-content: center;
}

.scorelevel {
  color: rgb(91, 204, 245);
}

.splashH1 {
  animation-name: h1Animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes h1Animation {
0%, 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
}
50% {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
}

/*coppied this one :)*/
#background-wrap {
bottom: 0;
left: 0;
position: fixed;
right: 0;
top: 0;
z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
  0% {
      margin-top: 1000px;
  }
  100% {
      margin-top: -100%;
  }
}

@-moz-keyframes animateBubble {
  0% {
      margin-top: 1000px;
  }
  100% {
      margin-top: -100%;
  }
}

@keyframes animateBubble {
  0% {
      margin-top: 1000px;
  }
  100% {
      margin-top: -100%;
  }
}

@-webkit-keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:50px;
  }
}

@-moz-keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:50px;
  }
}

@keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:50px;
  }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: -5%;
top: 5%;

-webkit-transform: scale(0.6);
-moz-transform: scale(0.6);
transform: scale(0.6);
}

.x2 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;

left: 5%;
top: 80%;

-webkit-transform: scale(0.4);
-moz-transform: scale(0.4);
transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 10%;
top: 40%;

-webkit-transform: scale(0.7);
-moz-transform: scale(0.7);
transform: scale(0.7);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

left: 20%;
top: 0;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

left: 30%;
top: 50%;

-webkit-transform: scale(0.5);
-moz-transform: scale(0.5);
transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 50%;
top: 0;

-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
transform: scale(0.8);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 65%;
top: 70%;

-webkit-transform: scale(0.4);
-moz-transform: scale(0.4);
transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

left: 80%;
top: 10%;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

left: 90%;
top: 50%;

-webkit-transform: scale(0.6);
-moz-transform: scale(0.6);
transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

left: 80%;
top: 80%;

-webkit-transform: scale(0.3);
-moz-transform: scale(0.3);
transform: scale(0.3);
}

/* OBJECTS */

.bubble {
  -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;

  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

  height: 200px;
position: absolute;
width: 200px;
}

.bubble:after {
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;

  -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

content: "";
  height: 180px;
left: 10px;
position: absolute;
width: 180px;
}


@media only screen and (max-width: 650px) and (orientation: landscape){

  h1{
    font-size: 20px;
    margin-bottom: 0;
  }

  canvas {
    width: 100vw;
  }

  .startImg {
    width: 40px;
    margin-left: 20px;
  }

  .starttext {
    font-size: 10px;
    margin: 0;
  }

  .start-button, .restart-button, .newCharacter {
    font-size: 12px;
    width: 85px;
    margin: 7px 0 0 0;
  }

  #splash {
    display: flex;
    flex-direction: column;  
  }

  #doryImg{ 
    width: 52px;
  }

  .hiddentext {
    display: none;
  }

  .score{
    font-size: 10px;
  }

  .gameOverImg {
    width: 100px;
    height: 100px;
  }

  #endscore{
    font-size: 20px;
    margin-bottom: 0;
  }

  .restart-button, .newCharacter {
    height: 20px;
  }
}
